<h1> CREATE A NEW QUIZ </h1>
<form action='/quizzes/new' method="post">

<h1><label>Let's make this the best quiz ever!</h1><br> What's the name of this quiz?</label>


<input type="text" name="quiz[name]" id="quiz_name">

<br>
<br>
<input type="submit" value="Next...">

</form>