
<form action='/quizzes/<%= @quiz.id %>/edit3' method="post">
 <input id="hidden" type="hidden" name="_method" value="patch">


<h1>EDIT YOUR THIRD QUESTION HERE </h1>

<br>
<br>
<h2><label>Remember! These are multiple choice questions!</h2></label>
<label> Question 3: </label>
<input type="text" name="three[text]" id="three_text">

<br>

<label> a.) </label>
<input type="text" name="three[choice1]" id="three_choice1">

<br>

<label> b.) </label>
<input type="text" name="three[choice2]" id="three_choice2">

<br>

<label> c.) </label>
<input type="text" name="three[choice3]" id="three_choice3">
<br>

<label> d.) </label>
<input type="text" name="three[choice4]" id="three_choice4">

<br>
<label> e.) </label>
<input type="text" name="three[choice5]" id="three_choice5">

<br>
<label> The Correct Answer is... </label>
<br>
<input type="radio" name="answer" value="A"> A
<br>
<input type="radio" name="answer" value="B"> B
<br>
<input type="radio" name="answer" value="C"> C
<br>
<input type="radio" name="answer" value="D"> D
<br>
<input type="radio" name="answer" value="E"> E
<br>


<input type="submit" value="Next...">

</form>