
<form action='/quizzes/<%= @quiz.id %>/edit4' method="post">
 <input id="hidden" type="hidden" name="_method" value="patch">


<h1>EDIT YOUR FOURTH QUESTION HERE </h1>

<br>
<br>
<h2><label>Remember! These are multiple choice questions!</h2></label>
<label> Question 4: </label>
<input type="text" name="four[text]" id="four_text">

<br>

<label> a.) </label>
<input type="text" name="four[choice1]" id="four_choice1">

<br>

<label> b.) </label>
<input type="text" name="four[choice2]" id="four_choice2">

<br>

<label> c.) </label>
<input type="text" name="four[choice3]" id="four_choice3">
<br>

<label> d.) </label>
<input type="text" name="four[choice4]" id="four_choice4">

<br>
<label> e.) </label>
<input type="text" name="four[choice5]" id="four_choice5">

<br>
<label> The Correct Answer is... </label>
<br>
<input type="radio" name="answer" value="A"> A
<br>
<input type="radio" name="answer" value="B"> B
<br>
<input type="radio" name="answer" value="C"> C
<br>
<input type="radio" name="answer" value="D"> D
<br>
<input type="radio" name="answer" value="E"> E
<br>


<input type="submit" value="Next...">

</form>